*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    zoom: 100%;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

:root {
    --bg-color: #121212;
    --secondary-color:#181818;
    --grey:#424242;
    --blue-color: #00FFFF;/*EC4F39 F2543C*/
    --white-text: rgb(238, 238, 238);
    --green-color:#CCFF66;
    --blue-two:#7BCBF1;/*ff5522 FFCC00*/
    --red:#FF0000;
    --gap: 3rem;
}

/*
font-family: 'Archivo', sans-serif;
font-family: 'Kanit', sans-serif;
*/

h1, h2, h3, h4, h5, h6{
    font-family: 'Archivo', sans-serif;
}

span{
    font-family: 'Archivo', sans-serif;
}

h1 {
    font-size: 13rem; 
}

h2{
    font-size: 7.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

p{
    font-size: 2rem;
    font-family: 'Kanit', sans-serif !important;
}

.font-p-maior{
    font-size: 2.7rem;
}

a{
    font-size: 2rem;
    text-decoration: none;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--blue-two);
    border-radius: 10rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 7.8rem;
    background: #18181854;
    backdrop-filter: blur(10px);
    padding:6px 14px;
    transition:all 0.5s ease-in-out;
}

.sidebar.active{
    width: 24rem;
}

.sidebar .logo-content .logo{
    color: var(--white-text);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.sidebar.active .logo-content .logo{
    opacity: 1;
}

.logo-content .logo i{
    font-size: 2.8rem;
    margin-right: 0.5rem;
}

.logo-content .logo .logo-name{
    font-size: 2rem;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: var(--white-text);
    left: 50%;
    top: 6px;
    font-size:2.5rem ;
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 2rem;
}

.sidebar ul li{
    position: relative;
    height: 5rem;
    width:100%;
    margin:0 0.5rem 0.5rem 0.5rem;
    list-style: none;
    line-height: 5rem;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 12.2rem;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 0.6rem;
    height: 3.5rem;
    width: 12.2rem;
    font-size: 1.3rem;
    background: linear-gradient(to top right, var(--green-color), var(--blue-color)) ;
    line-height:3.5rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition:0s ;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease ;
    top: 50%;
    opacity: 1;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--grey);
    padding-left: 5rem;
    font-size: 1.8rem;
    color: var(--white-text);
}

.sidebar ul li .bx-search{
    z-index: 99;
    color: var(--blue-two);
    font-size: 2.2rem;
    transition:all 0.5s ease-in-out;
}

.sidebar ul li .bx-search:hover{
    background:var(--grey);
}

.sidebar ul li a{
    color:var(--blue-two);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    background: var(--grey);
    transition: all 0.5s ease-in-out;

}

.sidebar ul li a:hover:hover{
        box-shadow:inset 0 0 1.3rem var(--blue-two);
}

.sidebar ul li i{
    height: 5rem;
    min-width:5rem;
    border-radius: 12px;
    line-height: 5rem;
    text-align: center;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links-name{
    opacity: 1;
    pointer-events: auto;
    font-size: 1.7rem;
}

.sidebar .profile-content{
    position: absolute;
    color: var(--white-text);
    bottom: 5rem;
    left: 0;
}

.sidebar .profile-content .profile{
    position: relative;
    padding: 1rem 0.6rem;
    height: 6rem;   
}

.sidebar.active .profile-content .profile{
    animation-name: perfil;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.profile-content .profile .profile-details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    
}

.sidebar.active .profile .profile-details{
    opacity: 1;
    pointer-events: auto;
   
}

.profile .profile-details img{
    height: 4.5rem;
    width: 4.5rem;
    object-fit: cover;
    border-radius:12px;
}

.profile .profile-details .name-job{
    margin-left: 1rem;
}

.profile .profile-details .name{
    font-size: 1.5rem;
    font-weight: 400;
}

.profile .profile-details .job{
    font-size: 1.2rem;
}

.section{
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10rem var(--gap);
    align-items: center;
}

.main-bg{
    background:url(/assets/img/bg-test1.jpg);
    background-size: cover;
    background-position: center center;
    color: var(--white-text);
}

.invert-bg{
    background: url(/assets/img/invert-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-text);
}

.alternative-bg{
    background-color: var(--bg-color);
    color: var(--white-text);
}

.secondary-bg{
    background-color: #242420;
    color: var(--white-text);
}

.galeria{
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 5rem;
    width: 90rem;
    height: 50rem;
    border-radius: 12px;
    border: 1px solid var(--blue-color);
    transition: all 1s ease-in-out;
}

.foto{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slider-transition 22.5s infinite;
}

.foto:nth-child(2){ 
    animation-delay: 7.5s;
}

.foto:nth-child(3){
    animation-delay: 14s;
}

.galeria:hover{
    box-shadow: 0rem 0rem 1rem 0rem var(--blue-color);
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10rem var(--gap);
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15rem;
    align-items: center;
}

.sobre{
    max-width: 70rem;
}

.grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 10rem var(--gap);
    min-width: 100%;
}

.grid-cursos{
    display: grid;
    grid-template-columns:repeat(2, 17rem);
}

.grid-projects {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 5rem;
    gap: var(--gap);
}

.list li { 
    list-style: none;
}

.list li button{
    width: 20rem;
    height: 6.5rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color:var(--white-text);
    border-bottom-right-radius:6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid var(--blue-color);
    transition: all .4s;
}

.list li button:hover{
    border: 1px solid rgba(83, 83, 83, 0.808);
    border-radius: 15px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px var(--blue-color),
    0 15px 0 -4px var(--green-color),
    0 16px 10px -3px var(--blue-color);
}

.img-formated{
    height: max-content;
    width: 55rem;
    margin: auto;
}

::selection{
    background-color: #00ffffc4;
    color:var(--secondary-color);
}

.social {
    position: absolute;
    bottom: 0rem;
    left: 1rem;
}

.social .flex-social{
    max-width: 5rem;
}

.sidebar.active .social{
    position: absolute;
    color: var(--white-text);
    bottom: 0.5rem;
    left: -0.5%;
}

.sidebar.active .flex-social{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: 4rem;
    align-items: center;
}

.sidebar.active .flex-social i{ 
    animation-name: social;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.sidebar.active .flex-social li{
    animation-name: social2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.sidebar .flex-social li{
    animation-name: social3;
    animation-duration: 1.5s;
}

.rubber-letter {
    transition: 0.3s ease-in-out color; }
  
.animation {
    animation:  1s ease-in-out forwards rubber;
    display: inline-block;
    cursor: pointer;
}
  
.rubber-letter:hover{
    color: var(--blue-two);
}
  

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    padding-top:5rem ;
}

.contact-form form{
    display: flex;
    position: relative;
}

.form-group input, .form-group textarea{
    border: none;
    background-color: var(--secondary-color);
    padding:1rem 5rem ;
    width: 100%;
    font-size: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group input{
    color: var(--white-text);
}

.form-group textarea{
    color: var(--white-text);
}

.form-group button{
    border: none;
    background-color: var(--secondary-color);
    padding:1rem 5rem ;
    width: 100rem;
    height: 5rem;
    font-size: 3rem;
    color: var(--white-text);
    transition: all 0.5s ease-in-out;
}

.form-group input:focus{
    outline: 0;
    position: relative;
}

.form-group textarea:focus{
    outline: 0;
    position: relative;
}

.button:hover{
    background-color: var(--grey);
    color: var(--green-color);
    border-left:solid 2px var(--green-color);
    border-right: solid 2px var(--blue-color);
    transition: all 0.3s ease-in-out;
}

.form-group .underline{
    position: absolute;
    bottom: 45.2rem;
    height: 2px;
    width: 42.7rem;
}

.form-group .underline-button{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100rem;
}

.form-group .underline-text{
    position: absolute;
    bottom: 8rem;
    height: 2px;
    width: 134rem;
}

.form-group .underline::before,
.form-group .underline::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(to right, var(--green-color), var(--blue-color));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.form-group .underline-text::before,
.form-group .underline-text::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(to right, var(--green-color), var(--blue-color));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.form-group .underline-button::before,
.form-group .underline-button::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 17rem;
    background: linear-gradient(to right, var(--green-color), var(--blue-color));
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.form-group input:focus ~ .underline::before,.underline::after,
.form-group textarea:focus ~ .underline-text::before,.underline-text::after,
.form-group button:hover ~ .underline-button::before,.underline-button::after{
    transform: scaleX(1);
}

@keyframes slider-transition {
    10%{
        opacity: 1;
    }

    75%{
        opacity: 0;
    }
}

@keyframes rubber {
    0% {
      transform: scale3d(1, 1, 1); }
    30% {
      transform: scale3d(1.25, 0.75, 1); }
    40% {
      transform: scale3d(0.75, 1.25, 1); }
    50% {
      transform: scale3d(1.15, 0.85, 1); }
    65% {
      transform: scale3d(0.95, 1.05, 1); }
    75% {
      transform: scale3d(1.05, 0.95, 1); }
    100% {
      transform: scale3d(1, 1, 1); } }
  
@keyframes perfil {
    from {left: -20rem;}
    to {left: 0rem;}
}

@keyframes social{
    0%{color:var(--secondary-color);}
    100%{color: var(--blue-two);}
}

@keyframes social2 {
    from{left: 2rem;}
    to {left: 0;}
}

@keyframes social3{
    from{height: 0rem;}
}
 
    .close-menu{
        display: none;
}

@media (max-width: 1000px){
    html {
        width: 100%;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3.5rem;
    }
    
    h3{
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
    }

    .font-p-maior{
        font-size: 1.5rem;
    }

    .sidebar{
        height: 5rem;
        width: 5rem;
        padding: 0 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .sidebar ul li{
        display: none;
        width: 20rem;
    }

    .sidebar #btn{
        position: fixed;
        color: var(--white-text);
        top: 0px;
        left: 1.7rem;
        font-size:2.5rem ;
        height: 1rem;
        width: 1rem;
        text-align: center;
        line-height: 5rem;
        cursor: pointer;
        transform: translateX(-50%);
    }

    .sidebar.active{
        width: 100%;
        position: fixed;
        z-index: 1;
        height: 100%;
    }

    .sidebar.active ul li{
        display: block;
    }

    .sidebar .profile-content{
        bottom: 5rem;
    }

    .sidebar.active .social{
        bottom: 1rem;
    }

    .grid, .grid-projects{
        grid-template-columns: 1fr;
    }

    .form-group input, .form-group textarea {
        font-size: 1.5rem;
    }

    .form-group button{
        font-size: 2rem;
    }

    .galeria{
        width: 100%;
        height: 200px;
    }

    .img-formated{
        width: auto;
    }

    .flex{
        flex-direction: column;
        width: 100%;
        gap: 5rem;
    }

    .form-group button{
        width: auto;
    }

    .section{
        width: 100%;
    }

    .main-bg{
        width: 100%;
    }

    .secondary-bg{
        background-color: var(--secondary-color);
        color: var(--white-text);
    }

    .invert-bg{
        background: url(/assets/img/bg-test2.jpg);
        background-size: cover;
        background-position: center center;
        color: var(--white-text);
    }

    .alternative-bg{
        background-color: var(--bg-color);
        color: var(--white-text);
    }

    .main-content{
        width: 100vw;
    }

    .main-content h1{
        width: max-content;
    }

    .sobre{
        max-width: 100%;
    }

    .grid-cursos{
        width: 100%;
        margin: 0;
        grid-template-columns:repeat(2, auto);
        column-gap: 1rem;
    }

    .list li button{
        width: 10rem;
        height: 5rem;
    }

    .form-group .underline{
        width: 100%;
        bottom: auto;
    }

    .form-group .underline-button{
        display: none;
    }

    .form-group .underline-text{
        width: 100%;
    }

}
